.vscode/
__pycache__/
*.pyc
*.pyo
mirror_debug.log
NanoleafMirror.lnk
build/
dist/
*.spec
!nanoleaf_mirror.spec
!nanoleaf_mirror_native.spec
*.manifest
*.pdb
Nanoleaf Mirror.lnk
*.dll
personal_config.json
.pytest_cache/
*.egg-info/
config.json
tree_nopycache.txt
presets/
