.vscode/
__pycache__/
*.pyc
*.pyo
mirror_debug.log
NanoleafMirror.lnk
build/
dist/
*.spec
Nanoleaf Mirror.lnk
fast_capture.dll
personal_config.json
.pytest_cache/
*.egg-info/
config.json
tree_nopycache.txt
presets/